In [3]:
#reading oura file in
import json
import pandas as pd
import re
import numpy as np
# pd.set_option('max_columns', None)


oura_file = open('../data/oura_data_2022_04_16.json')
oura_json = oura_file.read()
oura_data = json.loads(oura_json)

In [4]:
#splitting oura_data into first dataframe which just has activity data. I will be combining it with other oura dataframes on the summary_date column as that column is in all dataframes
def prefix_columns(df, prefix):
    #get columns to replace
    columns_to_replace = {}
    for column in df.columns:
        # skip the summary_date join column
        if re.search('(summary_date)',column) != None:
            continue
        columns_to_replace[column] = f"{prefix}_{column}"
    
    return columns_to_replace

oura_activity = pd.DataFrame.from_records(oura_data["activity"])
oura_activity.rename(columns= prefix_columns(oura_activity, "activity"), inplace=True)
oura_activity

,activity_average_met,activity_cal_active,activity_cal_total,activity_class_5min,activity_daily_movement,activity_day_end,activity_day_start,activity_high,activity_inactive,activity_inactivity_alerts,...,activity_score_training_volume,activity_steps,summary_date,activity_target_calories,activity_target_km,activity_target_miles,activity_timezone,activity_to_target_km,activity_to_target_miles,activity_total
0,0.93750,23,1942,0000000000000000000000000000000000000000000000...,461,2021-01-21T03:59:59-08:00,2021-01-20T04:00:00-08:00,0,141,1,...,99,354,2021-01-20,550,11.0,6.835081,-480,10.3,6.400121,19
1,1.34375,234,2311,2232332222222221222222322222333332322223311221...,4151,2021-01-22T03:59:59-08:00,2021-01-21T04:00:00-08:00,1,792,1,...,97,4546,2021-01-21,600,12.0,7.456452,-480,7.2,4.473871,203
2,1.34375,290,2350,1211222221111111122212211222222222222224434333...,5337,2021-01-23T03:59:59-08:00,2021-01-22T04:00:00-08:00,0,612,0,...,96,5045,2021-01-22,500,10.0,6.213710,-480,4.1,2.547621,229
3,1.15625,96,2048,2232222211122211111111111111111111112211111111...,1832,2021-01-24T03:59:59-08:00,2021-01-23T04:00:00-08:00,0,517,1,...,81,1962,2021-01-23,600,12.0,7.456452,-480,9.9,6.151573,90
4,1.68750,707,2894,1111111111111111111111221212000000000221111112...,13257,2021-01-25T03:59:59-08:00,2021-01-24T04:00:00-08:00,2,703,0,...,94,10497,2021-01-24,500,10.0,6.213710,-480,-3.9,-2.423347,399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1.46875,459,2506,1122111111111111111111111111113222111111222221...,8806,2022-04-13T03:59:59-07:00,2022-04-12T04:00:00-07:00,1,614,1,...,98,8897,2022-04-12,250,5.0,3.106855,-420,-4.0,-2.485484,294
389,1.50000,457,2552,1111111111111111111111111211111111122233334334...,8778,2022-04-14T03:59:59-07:00,2022-04-13T04:00:00-07:00,0,680,2,...,97,10062,2022-04-13,200,5.0,3.106855,-420,-4.9,-3.044718,318
390,1.34375,286,2298,1111122111111111111111111111111111122332222222...,5486,2022-04-15T03:59:59-07:00,2022-04-14T04:00:00-07:00,0,495,0,...,96,6322,2022-04-14,200,5.0,3.106855,-420,-1.6,-0.994194,182
391,1.75000,795,2961,1111111111111111111111111111111111111111111112...,15454,2022-04-16T03:59:59-07:00,2022-04-15T04:00:00-07:00,1,514,0,...,97,16977,2022-04-15,450,10.0,6.213710,-420,-6.7,-4.163186,570
392,1.28125,128,1939,1111111111111111111111111111111111111111112111...,2485,2022-04-17T03:59:59-07:00,2022-04-16T04:00:00-07:00,0,75,0,...,96,2984,2022-04-16,250,5.0,3.106855,-420,2.5,1.553427,93

In [5]:
#extracting restufl periods into it's own dataframe
oura_restful_periods = pd.DataFrame.from_records(oura_data["restful_periods"])
oura_restful_periods.rename(columns= prefix_columns(oura_restful_periods, "restful_period"), inplace=True)
oura_restful_periods

,restful_period_bedtime_end,restful_period_bedtime_start,restful_period_breath_average,restful_period_duration,restful_period_hr_average,restful_period_hr_lowest,restful_period_period_id,restful_period_rmssd,summary_date,restful_period_timezone
0,2021-01-21T13:02:49-08:00,2021-01-21T12:57:49-08:00,15.250,300,72.50,72.0,2,48.0,2021-01-21,-480
1,2021-01-21T13:23:46-08:00,2021-01-21T13:17:46-08:00,15.250,360,79.50,78.0,3,57.0,2021-01-21,-480
2,2021-01-23T13:02:44-08:00,2021-01-23T12:53:44-08:00,15.125,540,59.00,59.0,2,56.0,2021-01-23,-480
3,2021-01-23T13:25:29-08:00,2021-01-23T13:09:29-08:00,15.125,960,59.00,58.0,3,64.0,2021-01-23,-480
4,2021-01-23T14:50:29-08:00,2021-01-23T14:39:29-08:00,15.125,660,60.00,60.0,4,NaN,2021-01-23,-480
...,...,...,...,...,...,...,...,...,...,...
300,2022-04-11T14:27:59-07:00,2022-04-11T14:08:59-07:00,14.500,1140,73.33,71.0,2,37.0,2022-04-11,-420
301,2022-04-12T12:31:01-07:00,2022-04-12T11:24:01-07:00,15.000,4020,69.93,67.0,1,47.0,2022-04-12,-420
302,2022-04-12T14:59:01-07:00,2022-04-12T14:37:01-07:00,15.000,1320,79.50,78.0,2,42.0,2022-04-12,-420
303,2022-04-12T15:38:00-07:00,2022-04-12T15:25:00-07:00,15.000,780,76.00,75.0,3,NaN,2022-04-12,-420
304,2022-04-12T16:52:01-07:00,2022-04-12T16:33:01-07:00,15.000,1140,74.33,71.0,4,42.0,2022-04-12,-420

In [7]:
#extracting readiness into it's own dataframe

oura_readiness = pd.DataFrame.from_records(oura_data["readiness"])

oura_readiness.rename(columns = prefix_columns(oura_readiness, 'readiness'), inplace=True)
oura_readiness

,readiness_period_id,readiness_rest_mode_state,readiness_score,readiness_score_previous_night,readiness_score_recovery_index,readiness_score_resting_hr,readiness_score_temperature,summary_date,readiness_score_previous_day,readiness_score_sleep_balance,readiness_score_activity_balance,readiness_score_hrv_balance
0,0,0,87,71,100,95,99.0,2021-01-21,NaN,NaN,NaN,NaN
1,1,0,73,62,48,90,100.0,2021-01-22,90.0,NaN,NaN,NaN
2,1,0,87,82,100,93,90.0,2021-01-23,89.0,80.0,NaN,NaN
3,2,0,81,70,81,95,98.0,2021-01-24,93.0,70.0,92.0,NaN
4,0,0,63,77,89,63,93.0,2021-01-27,79.0,37.0,67.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
324,1,0,49,58,13,66,63.0,2022-04-11,79.0,34.0,49.0,50.0
325,0,0,51,94,100,11,48.0,2022-04-12,86.0,43.0,52.0,41.0
326,2,0,43,71,9,4,89.0,2022-04-13,84.0,46.0,55.0,33.0
327,2,0,71,73,100,77,88.0,2022-04-15,97.0,60.0,67.0,44.0
328,0,0,49,41,26,37,100.0,2022-04-16,73.0,60.0,59.0,41.0

In [8]:
#extracting sleep into it's own dataframe

oura_sleep = pd.DataFrame.from_records(oura_data["sleep"])

oura_sleep.rename(columns = prefix_columns(oura_sleep, "sleep"), inplace=True)

oura_sleep

,sleep_awake,sleep_bedtime_end,sleep_bedtime_end_delta,sleep_bedtime_start,sleep_bedtime_start_delta,sleep_breath_average,sleep_deep,sleep_duration,sleep_efficiency,sleep_hr_5min,...,sleep_score_efficiency,sleep_score_latency,sleep_score_rem,sleep_score_total,summary_date,sleep_temperature_delta,sleep_temperature_deviation,sleep_timezone,sleep_total,sleep_temperature_trend_deviation
0,4890,2021-01-21T03:41:29-08:00,13289,2021-01-20T18:19:29-08:00,-20431,15.250,8490,33720,85,"[68, 68, 71, 66, 67, 68, 67, 66, 64, 0, 64, 64...",...,86,91,63,84,2021-01-21,-0.15,-0.15,-480,28830,NaN
1,3660,2021-01-22T05:30:24-08:00,19824,2021-01-21T22:32:24-08:00,-5256,15.375,9630,25080,85,"[61, 62, 63, 62, 63, 63, 63, 62, 60, 61, 61, 6...",...,83,67,39,55,2021-01-22,-0.10,-0.10,-480,21420,0.01
2,7710,2021-01-23T08:25:02-08:00,30302,2021-01-22T22:23:02-08:00,-5818,15.125,8280,36120,79,"[0, 0, 70, 71, 76, 78, 79, 79, 78, 76, 76, 71,...",...,69,97,86,82,2021-01-23,-0.32,-0.32,-480,28410,0.01
3,3810,2021-01-24T05:54:01-08:00,21241,2021-01-23T22:29:01-08:00,-5459,15.000,10080,26700,86,"[0, 60, 60, 61, 60, 59, 58, 58, 56, 55, 54, 56...",...,86,86,66,61,2021-01-24,-0.26,-0.26,-480,22890,0.02
4,5580,2021-01-27T05:40:39-08:00,20439,2021-01-26T21:10:39-08:00,-10161,14.625,9330,30600,82,"[0, 77, 78, 78, 77, 76, 76, 76, 73, 72, 72, 71...",...,76,91,72,69,2021-01-27,0.16,0.16,-480,25020,0.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,2520,2022-04-11T06:39:15-07:00,23955,2022-04-11T00:12:15-07:00,735,14.500,8820,23220,89,"[0, 84, 79, 82, 82, 80, 80, 79, 79, 78, 77, 77...",...,93,62,45,53,2022-04-11,0.49,0.49,-420,20700,0.26
325,6150,2022-04-12T07:27:29-07:00,26849,2022-04-11T22:15:29-07:00,-6271,15.000,10650,33120,81,"[0, 0, 0, 73, 72, 73, 73, 75, 75, 77, 81, 81, ...",...,74,97,95,77,2022-04-12,0.68,0.68,-420,26970,0.55
326,2010,2022-04-13T07:10:06-07:00,25806,2022-04-13T00:13:06-07:00,786,15.000,9540,25020,92,"[0, 86, 85, 86, 86, 86, 86, 87, 88, 88, 86, 86...",...,97,75,61,62,2022-04-13,0.19,0.19,-420,23010,0.53
327,5160,2022-04-15T09:17:34-07:00,33454,2022-04-15T00:17:34-07:00,1054,14.500,11010,32400,84,"[0, 71, 69, 70, 71, 71, 70, 69, 71, 69, 67, 66...",...,81,67,74,78,2022-04-15,-0.51,-0.51,-420,27240,-0.18
328,3720,2022-04-16T10:55:08-07:00,39308,2022-04-16T03:47:08-07:00,13628,14.250,7290,25680,86,"[0, 76, 78, 79, 78, 78, 79, 82, 84, 84, 83, 80...",...,86,67,47,58,2022-04-16,-0.14,-0.14,-420,21960,-0.24

 Get a combined dataset for oura data

In [9]:
# We merge activity, sleep & readiness..... because the nature of data will be one per day?
oura_daily_summary = oura_activity.merge(oura_sleep, on="summary_date", how="outer")

oura_daily_summary = oura_daily_summary.merge(oura_readiness, on="summary_date", how="outer")

oura_daily_summary

#TODO: Need to figure out how to factor in restful periods during the day 
#... maybe it can just be a summary on it's own

,activity_average_met,activity_cal_active,activity_cal_total,activity_class_5min,activity_daily_movement,activity_day_end,activity_day_start,activity_high,activity_inactive,activity_inactivity_alerts,...,readiness_rest_mode_state,readiness_score,readiness_score_previous_night,readiness_score_recovery_index,readiness_score_resting_hr,readiness_score_temperature,readiness_score_previous_day,readiness_score_sleep_balance,readiness_score_activity_balance,readiness_score_hrv_balance
0,0.93750,23,1942,0000000000000000000000000000000000000000000000...,461,2021-01-21T03:59:59-08:00,2021-01-20T04:00:00-08:00,0,141,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.34375,234,2311,2232332222222221222222322222333332322223311221...,4151,2021-01-22T03:59:59-08:00,2021-01-21T04:00:00-08:00,1,792,1,...,0.0,87.0,71.0,100.0,95.0,99.0,NaN,NaN,NaN,NaN
2,1.34375,290,2350,1211222221111111122212211222222222222224434333...,5337,2021-01-23T03:59:59-08:00,2021-01-22T04:00:00-08:00,0,612,0,...,0.0,73.0,62.0,48.0,90.0,100.0,90.0,NaN,NaN,NaN
3,1.15625,96,2048,2232222211122211111111111111111111112211111111...,1832,2021-01-24T03:59:59-08:00,2021-01-23T04:00:00-08:00,0,517,1,...,0.0,87.0,82.0,100.0,93.0,90.0,89.0,80.0,NaN,NaN
4,1.68750,707,2894,1111111111111111111111221212000000000221111112...,13257,2021-01-25T03:59:59-08:00,2021-01-24T04:00:00-08:00,2,703,0,...,0.0,81.0,70.0,81.0,95.0,98.0,93.0,70.0,92.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1.46875,459,2506,1122111111111111111111111111113222111111222221...,8806,2022-04-13T03:59:59-07:00,2022-04-12T04:00:00-07:00,1,614,1,...,0.0,51.0,94.0,100.0,11.0,48.0,86.0,43.0,52.0,41.0
389,1.50000,457,2552,1111111111111111111111111211111111122233334334...,8778,2022-04-14T03:59:59-07:00,2022-04-13T04:00:00-07:00,0,680,2,...,0.0,43.0,71.0,9.0,4.0,89.0,84.0,46.0,55.0,33.0
390,1.34375,286,2298,1111122111111111111111111111111111122332222222...,5486,2022-04-15T03:59:59-07:00,2022-04-14T04:00:00-07:00,0,495,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,1.75000,795,2961,1111111111111111111111111111111111111111111112...,15454,2022-04-16T03:59:59-07:00,2022-04-15T04:00:00-07:00,1,514,0,...,0.0,71.0,73.0,100.0,77.0,88.0,97.0,60.0,67.0,44.0
392,1.28125,128,1939,1111111111111111111111111111111111111111112111...,2485,2022-04-17T03:59:59-07:00,2022-04-16T04:00:00-07:00,0,75,0,...,0.0,49.0,41.0,26.0,37.0,100.0,73.0,60.0,59.0,41.0

In [10]:
#renaming columns with the correct unit of time
oura_daily_summary.rename(columns={"activity_inactive":"activity_inactive_minutes"}, inplace=True)
oura_daily_summary.rename(columns={"activity_non_wear":"activity_non_wear_minutes"}, inplace=True)
oura_daily_summary.rename(columns={"activity_rest":"activity_rest_minutes"}, inplace=True)
oura_daily_summary.rename(columns={"activity_low":"activity_low_minutes"}, inplace=True)
oura_daily_summary.rename(columns={"activity_medium":"activity_medium_minutes"}, inplace=True)
oura_daily_summary.rename(columns={"activity_high":"activity_high_minutes"}, inplace=True)
oura_daily_summary.rename(columns={"sleep_awake":"sleep_awake_seconds"}, inplace=True)
oura_daily_summary.rename(columns={"sleep_rem":"sleep_rem_seconds"}, inplace=True)
oura_daily_summary.rename(columns={"sleep_light":"sleep_light_seconds"}, inplace=True)
oura_daily_summary.rename(columns={"sleep_deep":"sleep_deep_seconds"}, inplace=True)
oura_daily_summary.rename(columns={"sleep_temperature_delta":"sleep_temperature_delta_celsius"}, inplace=True)
oura_daily_summary.rename(columns={"readiness_temperature_delta":"readiness_temperature_delta_celsius"}, inplace=True)
oura_daily_summary.rename(columns={"activity_cal_total":"activity_cal_total_kcal"}, inplace=True)

Going through the API documentation, it became apparent that the value '0' was often put in as a substitute for null. I will be changing these values to null.

In [11]:
# creating a function that changes the value 0 to null in places where 0 represents no available data

def replace_zero(column):
    for index in range(len(column)):
        if column[index] == 0:
            column[index] = np.nan

In [ ]:
#replacing all zeros that are representative of null to null
# replace_zero(oura_daily_summary["score_recovery_time"])
# replace_zero(oura_daily_summary["score_training_volume"])
# replace_zero(oura_daily_summary["score_training_frequency"])
# replace_zero(oura_daily_summary["score_meet_daily_targets"])
# replace_zero(oura_daily_summary["score_move_every_hour"])
# replace_zero(oura_daily_summary["score_stay_active"])
# replace_zero(oura_daily_summary["score"])
# replace_zero(oura_daily_summary["score_total"])
# replace_zero(oura_daily_summary["score_rem"])
# replace_zero(oura_daily_summary["score_efficiency"])
# replace_zero(oura_daily_summary["score_deep"])
# replace_zero(oura_daily_summary["score_latency"])
# replace_zero(oura_daily_summary["score_disturbances"])
# replace_zero(oura_daily_summary["score_alignment"])

In [12]:
from datetime import datetime

oura_daily_summary.to_csv(f"../data/oura_daily_summary_{datetime.now().strftime('%Y_%m_%d')}.csv", index=False)

In [13]:
import requests 
url = 'https://api.ouraring.com/v2/usercollection/heartrate' 
params={ 
    'start_datetime': '2022-04-14T00:00:00-08:00', 
    'end_datetime': '2022-04-15T00:00:00-08:00' 
}
headers = { 
  'Authorization': 'Bearer NZDGAC4APTALZMRXO7FMBPPWNRIQDRE3' 
}
response = requests.request('GET', url, headers=headers, params=params) 
print(response.text)

{"data":[{"bpm":94,"source":"awake","timestamp":"2022-04-14T14:27:57+00:00"},{"bpm":90,"source":"awake","timestamp":"2022-04-14T14:28:22+00:00"},{"bpm":77,"source":"awake","timestamp":"2022-04-14T15:08:31+00:00"},{"bpm":71,"source":"awake","timestamp":"2022-04-14T15:09:07+00:00"},{"bpm":79,"source":"awake","timestamp":"2022-04-14T15:44:22+00:00"},{"bpm":69,"source":"awake","timestamp":"2022-04-14T15:44:24+00:00"},{"bpm":78,"source":"awake","timestamp":"2022-04-14T15:44:25+00:00"},{"bpm":71,"source":"awake","timestamp":"2022-04-14T15:49:39+00:00"},{"bpm":77,"source":"awake","timestamp":"2022-04-14T15:49:41+00:00"},{"bpm":74,"source":"awake","timestamp":"2022-04-14T15:49:47+00:00"},{"bpm":77,"source":"awake","timestamp":"2022-04-14T15:54:40+00:00"},{"bpm":72,"source":"awake","timestamp":"2022-04-14T15:54:48+00:00"},{"bpm":69,"source":"awake","timestamp":"2022-04-14T15:54:57+00:00"},{"bpm":90,"source":"awake","timestamp":"2022-04-14T15:59:31+00:00"},{"bpm":92,"source":"awake","timestamp":"2022-04-14T15:59:37+00:00"},{"bpm":88,"source":"awake","timestamp":"2022-04-14T15:59:48+00:00"},{"bpm":86,"source":"awake","timestamp":"2022-04-14T16:04:41+00:00"},{"bpm":77,"source":"awake","timestamp":"2022-04-14T16:04:48+00:00"},{"bpm":87,"source":"awake","timestamp":"2022-04-14T16:04:52+00:00"},{"bpm":110,"source":"awake","timestamp":"2022-04-14T23:44:03+00:00"},{"bpm":97,"source":"awake","timestamp":"2022-04-14T23:44:06+00:00"},{"bpm":101,"source":"awake","timestamp":"2022-04-14T23:44:07+00:00"},{"bpm":114,"source":"awake","timestamp":"2022-04-15T00:20:28+00:00"},{"bpm":117,"source":"awake","timestamp":"2022-04-15T00:20:30+00:00"},{"bpm":113,"source":"awake","timestamp":"2022-04-15T00:20:45+00:00"},{"bpm":113,"source":"awake","timestamp":"2022-04-15T01:00:49+00:00"},{"bpm":88,"source":"awake","timestamp":"2022-04-15T01:01:18+00:00"},{"bpm":128,"source":"awake","timestamp":"2022-04-15T01:01:23+00:00"},{"bpm":94,"source":"awake","timestamp":"2022-04-15T02:32:59+00:00"},{"bpm":99,"source":"awake","timestamp":"2022-04-15T02:33:36+00:00"},{"bpm":107,"source":"awake","timestamp":"2022-04-15T02:33:37+00:00"},{"bpm":87,"source":"awake","timestamp":"2022-04-15T02:43:28+00:00"},{"bpm":100,"source":"awake","timestamp":"2022-04-15T02:43:31+00:00"},{"bpm":81,"source":"awake","timestamp":"2022-04-15T02:53:19+00:00"},{"bpm":91,"source":"awake","timestamp":"2022-04-15T03:03:30+00:00"},{"bpm":99,"source":"awake","timestamp":"2022-04-15T03:03:42+00:00"},{"bpm":94,"source":"awake","timestamp":"2022-04-15T03:03:56+00:00"},{"bpm":91,"source":"awake","timestamp":"2022-04-15T03:34:03+00:00"},{"bpm":105,"source":"awake","timestamp":"2022-04-15T03:34:16+00:00"},{"bpm":96,"source":"awake","timestamp":"2022-04-15T04:03:52+00:00"},{"bpm":93,"source":"awake","timestamp":"2022-04-15T04:03:54+00:00"},{"bpm":118,"source":"awake","timestamp":"2022-04-15T04:04:14+00:00"},{"bpm":91,"source":"awake","timestamp":"2022-04-15T04:27:56+00:00"},{"bpm":87,"source":"awake","timestamp":"2022-04-15T04:28:04+00:00"},{"bpm":96,"source":"awake","timestamp":"2022-04-15T04:28:29+00:00"},{"bpm":109,"source":"awake","timestamp":"2022-04-15T04:58:09+00:00"},{"bpm":111,"source":"awake","timestamp":"2022-04-15T04:58:16+00:00"},{"bpm":115,"source":"awake","timestamp":"2022-04-15T04:58:17+00:00"},{"bpm":87,"source":"awake","timestamp":"2022-04-15T05:07:50+00:00"},{"bpm":85,"source":"awake","timestamp":"2022-04-15T05:07:52+00:00"},{"bpm":79,"source":"awake","timestamp":"2022-04-15T05:12:48+00:00"},{"bpm":82,"source":"awake","timestamp":"2022-04-15T05:12:55+00:00"},{"bpm":81,"source":"awake","timestamp":"2022-04-15T05:12:56+00:00"},{"bpm":83,"source":"awake","timestamp":"2022-04-15T06:10:24+00:00"},{"bpm":87,"source":"awake","timestamp":"2022-04-15T06:10:29+00:00"},{"bpm":93,"source":"awake","timestamp":"2022-04-15T06:10:30+00:00"},{"bpm":85,"source":"awake","timestamp":"2022-04-15T06:16:12+00:00"},{"bpm":90,"source":"awake","timestamp":"2022-04-15T06:16:27+00:00"},{"bpm":79,"source":"awake","timestamp":"2022-04-15T06:16:34+00:00"},{"bpm":83,"source":"awake","timestamp":"2022-04-15T06:22:26+00:00"},{"bpm":77,"source":"awake","timestamp":"2022-04-15T06:22:46+00:00"},{"bpm":81,"source":"awake","timestamp":"2022-04-15T06:22:51+00:00"},{"bpm":77,"source":"awake","timestamp":"2022-04-15T06:28:00+00:00"},{"bpm":80,"source":"awake","timestamp":"2022-04-15T06:28:01+00:00"},{"bpm":105,"source":"awake","timestamp":"2022-04-15T06:28:13+00:00"},{"bpm":77,"source":"awake","timestamp":"2022-04-15T06:33:32+00:00"},{"bpm":75,"source":"awake","timestamp":"2022-04-15T06:38:06+00:00"},{"bpm":69,"source":"awake","timestamp":"2022-04-15T06:38:10+00:00"},{"bpm":79,"source":"awake","timestamp":"2022-04-15T06:38:17+00:00"},{"bpm":69,"source":"awake","timestamp":"2022-04-15T06:43:37+00:00"},{"bpm":75,"source":"awake","timestamp":"2022-04-15T06:43:41+00:00"},{"bpm":71,"source":"awake","timestamp":"2022-04-15T06:44:02+00:00"},{"bpm":114,"source":"awake","timestamp":"2022-04-15T06:50:18+00:00"},{"bpm":106,"source":"awake","timestamp":"2022-04-15T06:50:20+00:00"},{"bpm":96,"source":"awake","timestamp":"2022-04-15T06:50:21+00:00"},{"bpm":88,"source":"awake","timestamp":"2022-04-15T06:55:32+00:00"},{"bpm":81,"source":"awake","timestamp":"2022-04-15T06:56:06+00:00"},{"bpm":76,"source":"awake","timestamp":"2022-04-15T06:56:11+00:00"},{"bpm":80,"source":"awake","timestamp":"2022-04-15T07:01:15+00:00"},{"bpm":72,"source":"awake","timestamp":"2022-04-15T07:01:20+00:00"},{"bpm":74,"source":"awake","timestamp":"2022-04-15T07:01:26+00:00"}],"next_token":null}